{% extends "header.html" %}
 {% block head %}
<title>Contact us</title>
    {% endblock %}
    {% block content %}
      <!-- TOP NAV WITH LOGO -->
      <section>
         <div id="head">
            <div class="line">
               <h1>For any Query please contact</h1>
            </div>
         </div>
         <div id="content" class="left-align contact-page">
            <div class="line">
                  <div class="s-12 l-6" style="margin-top:-3%; margin-left:2%;">
                     <h2>Contact Information</h2>
                     <address>
                        <p style="width:1100px"><i class="icon-home icon"></i>Department of Bioinformatics, Sir Syed University of Engineering & Technology, University Road, Karachi-75300, Pakistan</p>
                        <p><i class="icon-mail icon"></i>qamartayyaba@yahoo.com</p>
                         <p><i class="icon-mail icon"></i>0336-2808926</p>
                     </address>
                  </div>
               </div>
            </div>
         <div id="map-block" style="margin-bottom:5%">  	  
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.479960071534!2d67.09062781417998!3d24.91571434917877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33f32a0f2c3f3%3A0x4fc0a6fd386117f0!2sSir+Syed+University+of+Engineering+and+Technology!5e0!3m2!1sen!2s!4v1499205652621" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>         </div>
      </section>  
       {% endblock %}