{% extends "header.html" %}
{% block head %}
<title>Work</title>
<style>
    h3
    {
        text-align: left;
    }
</style>
   {% endblock %}
{% block content %}
<section>
    <div id="head">
        <div class="line">
            <h1>Mango Genome Database</h1>
        </div>
    </div>
    <div id="content" style="margin-left:2%; margin-right:2%; font-family:'Times New Roman'">
        <div class="line">
            <p style="text-align:justify; font-size:18px;">
                <h3>Objective and Purpose of Website</h3>
            <p style="text-align:justify; font-size:18px;">
                To create the first website particularly for Mango Genome and first ever pakistani website which will provide the scientific community and general public Bioinformatics resources related to Mango Genomic sequence information and Bioinformatics tools for retrieval and analysis of Genomic sequences of different Mango cultivars (varieties).            </p>
            <h3>Relevant Background Information</h3>
            <p style="text-align:justify; font-size:18px;">
                Mango being the most important subtropical/tropical fruit crop stand at the fifth position worldwide with major production in India and South-East Asia. Because of the trouble of fertilization, mango rearing is still prevalently the choice of trees with unrivaled natural product attributes as opposed to half and half generation and assessment. Recently, mango genomic has been become a worldwide interest to generate tools for Market Assisted Selection and trait association which need the Bioinformatics knowledge. The large data of the Mango Genome has been reported by many different countries since 2014 but no platform was established particularly for Mango fruit to make the estimated data available for the scientific community.
                </p>
            <h3>Scope of the Work</h3>
            <p style="text-align:justify; font-size:18px;">
                Fruit Science is one of the important sectors of agriculture. With the growing population, demand for fruits is gradually increasing, the most important challenge in many of the fruit species is the unavailability of well-defined availability of genetic study. The website contains analyzed information of Mango Genome datasets of different cultivars and consists of many useful tools which will provide correct and useful results for research, academic work, development, analysis and for other biological needs.
</p>
<h3>Timeline</h3>
            <p style="text-align:justify; font-size:18px;">
                The whole project is developed within one year including the planning, analysis, development and testing.
</p>
<h3>Experience and Qualifications</h3>
            <p style="text-align:justify; font-size:18px;">
                Expert: Dr. Kamran Azim<br />
                Professor, Dean (Faculty of Life Sciences), HOD (Biosciences).<br />
                Senior: Dr. Uzma Mehmood<br />
                Assistant Professor, HOD (Bioinformatics).<br />
                Senior: Ms. Rabia Faizan<br />
                Lecturer, Bioinformatics.
            </p>
            </div>
        </div>
    </section>
{% endblock %}

